body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: grey;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0rem;
    color: #fff;
}

nav .logo {
    font-size: 1.rem;
    width: 30%;
}

nav .logo img {
    padding-top: 0px;
    width: 110px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li a {
    color: inherit;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.contents {
    min-height: 100vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 1rem;
    margin: 0 auto;
}

.contents-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.btn {
    padding: 18px 34px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 24px;
    color: #fff;
    background-color: #ec6964;
    border-color: #ec6964;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 0.25;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.content-wrapper img {
    width: 90%;
    margin: 0 auto;
    padding-left: 60px;
}

/* section profile */

section#about{
    position: relative;
    width: 80%;
    min-height: 300px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 90px;
    border-radius: 6px;
    background-color: grey;
    box-shadow: 0 0 7px 0px rgba(136, 136, 136, 0.2);
}

#about .img-profile{
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 300px;
    float: left;
    top: 50px;
    margin-left: 40px;
}

.img-profile .photo{
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -20px;
    border-radius: 50%;
}

.description{
    position: relative;
    width: 400px;
    display: inline-block;
    float: left;
    top: 50px;
    margin-left: 30px;
    font-family: 'Helvetica', sans-serif;
    border-right: 1px solid #efefef;
}

.description h1{
    font-size: 32px;
    margin-bottom: 14px;
}

.description p{
    color: black;
}

.information{
    position: relative;
    display: inline-block;
    float: left;
    font-family: 'Helvetica', sans-serif;
    top: 45px;
    margin-left: 30px;
}

.information .data{
    display: block;
    width: 100%;
    height: 50px;
}

.information p.field{
    font-weight: 600;
    width: 150px;
    color: #333;
}

.information .data p{
    float: left;
}


/* responsive */

@media screen and (max-width:768px) {
    nav {
        flex-direction: initial;
        margin: 0rem;
    }

    nav .logo {
        margin-top: 2rem;
        text-align: left;
        width: 100%;
    }

    nav ul {
        padding-inline-start: 0;
        margin: 3rem;
    }

    h1 {
        margin-top: 0px;
    }

    .content-wrapper {
        max-width: 100% !important;
        margin-top: auto;
    }

    img {
        width: 60%;
        margin: 0 auto;
        padding: 2rem 0 2rem 0;
    }
}


@media screen and (min-width: 100px) {
    .contents {
        padding-top: 6rem;
    }
}